<div class="example-button-row">
    <ng-template appRef2></ng-template>
    <ng-template appTime></ng-template>
    <ng-template appRef1></ng-template>

<div *ngIf="!ischkBoxHtml; else elseBlock" >
<button (click)="toggle()" mat-flat-button color="primary">HTML</button>
<div *ngIf="isChkBoxShown" class="block_l1">
<button (click)="togglehtml1()" [disabled]="ischkBoxHiden1" class="l1" mat-stroked-button color="primary" [routerLink]="['/questions']" [queryParams]="{level:1}" >l______1</button>
<button (click)="togglehtml2()" [disabled]="ischkBoxHiden2" class="l1" mat-stroked-button color="primary" [routerLink]="['/questions']" [queryParams]="{level:2}">l______2</button>
<button  [disabled]="ischkBoxHiden3" class="l1" mat-stroked-button color="primary" [routerLink]="['/questions']" [queryParams]="{level:3}" >l______3</button>
</div> 
</div>
<ng-template #elseBlock>
<app-timer *ngIf="ischkBoxHtml" (Counter)="timCounter($event)"></app-timer>
<app-questions *ngIf="ischkBoxHtml" (ischkBox)="ischkBox1($event)" (correct)="isCorrect($event)"></app-questions>
</ng-template>
<div>